
.list-group-item{
    cursor:pointer;
}
.thumbnail> img {
    min-height: 170px;
}
#playlist{
    max-height: 535px;
    overflow-y: scroll;
    padding-left: 0;
}

#comment{
    display: none;
}
@media (min-width: 992px){
    .nav> li:hover .dropdown-menu {display: block;}
    
}
@media (max-width: 992px){

.list-group-item{
    cursor:pointer;
    float: left;
    margin: 5px;
	width:95%;
}

}